.container
	.col-sm-9.footer_text
		p
			| "We aim to provide a casual job recruiting platform, which is a tailor made website for both casual job seekers and employers, featuring a new casual job recruiting experience than the traditional recruiting websites. Through the casual job recruiting platform, job seekers can easily apply for casual jobs by searching with their available time slots, employers can quickly locate a list of available temporary workers that can work for a particular working period. Also, employers can simply review the ability evaluation of the job seekers that were rated by their previous employers to facilitate the recruiting decision making."