// CSS and javascript files to be included in all pages

link(rel='stylesheet', type='text/css', href='../bower_components/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='../css/bootswatch/custom.css')
link(rel='stylesheet', href='../css/style.css')
link(rel='stylesheet', href='../bower_components/font-awesome/css/font-awesome.css')
script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='../bower_components/chart.js/dist/Chart.min.js')
script(src='../js/bootswatch/custom.js')
script(src='../js/custom.js')
script(src='../bower_components/CamanJS/dist/caman.full.min.js')
