extend layout
block content
	include ./includes/home
	script(src='../js/profile.js')
	script(src='../js/livestream.js')
	.container.user-profile
		.panel.panel-default
			.panel-heading
				h3.panel-title Profile
			ul.list-group
				.container
					.row.ss-item.profile-item
						.col-md-2
							img#profile-picture.img-responsive(alt="Profile Picture")
							.ss-item-text
								h5.user-name#user-name
							.livestream-button.streambutton#livestream-button2.fa.fa-youtube-play  Livestream
						.col-md-4.chart-container
							canvas#myChart
						.col-md-6
							.row.statistic-container
								.follower-statistic#follower-statistic.statistic-button.fa.fa-heart  Followers
									.follower-count 5
								.following-statistic#following-statistic.statistic-button.fa.fa-thumbs-up  Following
									.follwing-count 2
								.review-statistic#review-statistic.statistic-button.fa.fa-thumbs-up  Reviews &nbsp;&nbsp;
									.review-count 0
							.row
								textarea.self-introduction#self-introduction(style='pointer-events: none')
	.container.course-management
		.panel.panel-default
			.panel-heading
				h3.panel-title Course
			ul.list-group
				li.list-group-item
					.row.toggle#dropdown-detail-1(data-toggle='detail-1')
						.col-xs-10 Following
						.col-xs-2
							i.fa.fa-chevron-down.pull-right
					#detail-1
						hr
						.container
							.fluid-row
								.col-xs-12.col-sm-2
									figure
										a.following-profile(href='/')
											img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/35.jpg', alt='Scott AAA')
										figcaption.following-username
											h5 Peter
								.col-xs-12.col-sm-2
									figure
										a.following-profile(href='/')
											img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/women/90.jpg', alt='Scott AAA')
										figcaption.following-username
											h5 Mary Wong
								.col-xs-12.col-sm-2
									figure
										a.following-profile(href='/')
											img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/women/56.jpg', alt='Scott AAA')
										figcaption.following-username
											h5 Sally 																			
								.col-xs-12.col-sm-2
									figure
										a.following-profile(href='/')
											img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/14.jpg', alt='Scott AAA')
										figcaption.following-username
											h5 John												
								.col-xs-12.col-sm-2
									figure
										a.following-profile(href='/')
											img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/34.jpg', alt='Scott AAA')
										figcaption.following-username
											h5 Tommy												
				li.list-group-item
					.row.toggle#dropdown-detail-2(data-toggle='detail-2')
						.col-xs-10 Your Courses
						.col-xs-2
							i.fa.fa-chevron-down.pull-right
					#detail-2
						hr
						.container
							.fluid-row.ss-item
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 教老友記點用智能電話
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  98
												i.favorite-count.fa.fa-heart-o
													|  289
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 簡單個人網頁製作
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  67
												i.favorite-count.fa.fa-heart-o
													|  125
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 認識城門水塘動植物一日遊
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  30
												i.favorite-count.fa.fa-heart-o
													|  48
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 挑戰獅子山團
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  34
												i.favorite-count.fa.fa-heart-o
													|  50
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 師奶教你煮好味豉椒排骨
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  27
												i.favorite-count.fa.fa-heart-o
													|  56
													i &nbsp;
								.col-md-1(style='padding: 50px;')
									a(href='/course/addCourse')
										span
											i.fa.fa-plus-circle.fa-4x
				li.list-group-item
					.row.toggle#dropdown-detail-3(data-toggle='detail-3')
						.col-xs-10 Applied Courses
						.col-xs-2
							i.fa.fa-chevron-down.pull-right
					#detail-3
						hr
						.container
							.fluid-row.ss-item
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 教授如何繪畫荷花山水畫
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  18
												i.favorite-count.fa.fa-heart-o
													|  32
													i &nbsp;
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 韓國手卷製作
											h5.item-details 
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  17
												i.favorite-count.fa.fa-heart-o
													|  32
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 挑戰獅子山團
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  34
												i.favorite-count.fa.fa-heart-o
													|  52
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 1小時學識整情侶立體心意咭
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  19
												i.favorite-count.fa.fa-heart-o
													|  57
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 親身教你最新韓國眼妝
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  21
												i.favorite-count.fa.fa-heart-o
													|  28
													i &nbsp;	
								.col-md-1(style='padding: 50px;')
									a(href='/course/course_list')
										span
											i.fa.fa-plus-circle.fa-4x
				li.list-group-item
					.row.toggle#dropdown-detail-4(data-toggle='detail-4')
						.col-xs-10 Favorite
						.col-xs-2
							i.fa.fa-chevron-down.pull-right
					#detail-4
						hr
						.container
							.fluid-row.ss-item
								.col-md-2
									a(href='/')
										img(src="/img/empty_img.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 楷書書法分享
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  12
												i.favorite-count.fa.fa-heart-o
													|  15
													i &nbsp;
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 鳯凰山導賞團
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  20
												i.favorite-count.fa.fa-heart-o
													|  35
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 師奶教你煮好味豉椒排骨
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  27
												i.favorite-count.fa.fa-heart-o
													|  56
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title Canon攝影技巧分享
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  16
												i.favorite-count.fa.fa-heart-o
													|  25
													i &nbsp;	
								.col-md-2
									a(href='/')
										img(src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif" alt="Title" class="img-responsive")
									.ss-item-text
										h5.item-title 後日獵戶座流星雨觀星技巧
											h5.item-details
												i.item-price
													| Free
												i.student-count.fa.fa-user-o
													|  20
												i.favorite-count.fa.fa-heart-o
													|  34
													i &nbsp;
								.col-md-1(style='padding: 50px;')
									a(href='/course/course_list')
										span
											i.fa.fa-plus-circle.fa-4x

	script.
		$(document).ready(()=>{
			user = !{JSON.stringify(user)};
			getUserProfile(user);
			livestream(user);
		});