extend layout
block content
		.container
			.row
				.col-md-6.col-md-offset-3
					.panel.panel-registration
						.panel-heading
							.row
								.col-ms-12
									a#title(href='/')
										| MindSell
							hr
						.panel-body
							.row
								.col-lg-12
									form#register-form(action='/registration/register', method='post', role='form', autocomplete='off')
										.form-group
											input#username.form-control.required(type='text', name='username', tabindex='1', placeholder='Username' pattern='[a-zA-Z0-9]{5,}', title='Minimum 5 letters or numbers.')
											.text-danger Please fill out
										.form-group
											input#email.form-control.required(type='email', name='email', tabindex='1', placeholder='Email Address' pattern='.{1,}')
											.text-danger Please fill out
										.form-group
											input#password.form-control.required(type='password', name='password', tabindex='2', placeholder='Password' pattern='.{8,}', title='Minmimum 8 letters or numbers.')
											.text-danger Please fill out
										.form-group
											input#confirm-password.form-control.required(type='password', name='confirm-password', tabindex='2', placeholder='Confirm Password')
											.text-danger Please fill out
											.text-danger.confirm-password Confirm passworf is wrong                        
										.form-group
											.row
												.col-sm-6.col-sm-offset-3
													input#register-submit.form-control.btn.btn-register(type='submit', name='register-submit', tabindex='4', value='Register Now')
