extend layout
block content
  include ./includes/home
    #colorlib-page
      #colorlib-about
        .container
          .row.text-center
            h2.bold Introduction
          .row
            .col-md-5
              .owl-carousel3
                .item
                  img.img-responsive.about-img(src='images/about.jpg', alt='html5 bootstrap template by colorlib.com')
            .col-md-6.col-md-push-1.animate-box
              .about-desc
                .owl-carousel3
                  .item
                    h2
                      span I'm
                      span A Designer
                .desc
                  p
                    | A small river named Duden
                    a(href='#') flows by their place
                    | and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
      #colorlib-services
        .container
          .row.text-center
            h2.bold History
          .row
            .col-md-12
              .services-flex
                .one-third
                  .about-desc
                    .owl-carousel3
                      .item
                        h2
                          span I'm
                          span A Designer
                    .desc
                      p
                        | A small river named Duden
                        a(href='#') flows by their place
                        | and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
                .one-forth.services-img(style='background-image: url(images/services-img-1.jpg)')
      #colorlib-work
        .container
          .row.text-center
            h2.bold Background
          .row
            .col-md-12
              .rotate
                h2.heading Portfolio
          .row
            .col-md-12
              .work-entry.animate-box
                .col-md-4.col-md-offset-4
                  .desc
                    p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      #colorlib-testimony
        .container
          .row.text-center
            h2.bold Content
          .row.animate-box
            div
              .item
                .col-md-12.text-center
                  div
                    blockquote
                      p "A small river named Duden flows by their place and supplies it with the necessary regelialia.
                      span " — George Brooks
